asgiref @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/asgiref_1729057877436/work
brotlicffi @ file:///C:/miniconda3/conda-bld/brotlicffi_1764961374486/work
certifi @ file:///C:/miniconda3/conda-bld/certifi_1763135348719/work/certifi
cffi @ file:///C:/miniconda3/conda-bld/cffi_1761832792955/work
charset-normalizer @ file:///C:/miniconda3/conda-bld/charset-normalizer_1761744975868/work
Django @ file:///C:/miniconda3/conda-bld/django_1760519155873/work
gunicorn==23.0.0
idna @ file:///C:/miniconda3/conda-bld/idna_1761912043388/work
packaging==25.0
pycparser @ file:///C:/miniconda3/conda-bld/pycparser_1757496153123/work
PySocks @ file:///C:/miniconda3/conda-bld/pysocks_1761753030965/work
requests @ file:///C:/miniconda3/conda-bld/requests_1762359611326/work
setuptools==78.1.1
sqlparse @ file:///C:/Users/dev-admin/buildout/croot/sqlparse_1739565583021/work
typing_extensions @ file:///C:/b/abs_ecq8gc0vbm/croot/typing_extensions_1756281142218/work
urllib3 @ file:///C:/miniconda3/conda-bld/urllib3_1765399243000/work
wheel==0.45.1
whitenoise==6.11.0
win_inet_pton @ file:///C:/miniconda3/conda-bld/win_inet_pton_1761746278300/work
